<footer>


    <div class="footer-content">

        <div class="footer-content">

            <div class="contact-info">
                <a href="tel:0207123123" class="contact-item">📞 020 7123 1234</a>
                <a href="mailto:contact@domain.com" class="contact-item">✉️ contact@domain.com</a>
            </div>

            <div class="footer-links">
                <a href="/TermsofUse.html" class="footer-link">Terms of Use</a>
                <a href="/DataPrivacy.html" class="footer-link">Data Privacy</a>
                <a href="/ModernSlavery.html" class="footer-link">Modern Slavery Statement</a>

                <!-- <p>&copy; 2024 Real Estate Company. All rights reserved.</p> -->
            </div>

</footer>

</div>
</footer>